/*
Berkay Ertik
04/24/2023
General Style Sheet
*/

/* /////////////    HTML and Body Styles    ////////////////////*/
/*/////////////////////////////////////////////////////////////*/

html {
    background-image: url(barcelona.png);      
    background-repeat:round; 
    font-family: "Goudy Old Style", serif;
    background-color: #F6F1F1;
    height: 100%;
}

body {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;
    width: 70%;
    box-shadow:rgb(175, 143, 60) 10px 0px 40px,  rgb(175, 143, 60) -10px 0px 40px;
    background-color: #FFEAD2;
    border-left: 1px solid #263A29;
    border-right: 1px solid #263A29;
}

header {
    background-image: url(sg.png);
    background-position: 10%;
    background-size:contain;
}
#about {
    padding-top: 50px;
}
/*/////////////// Navigation Bar  ///////////////*/
/*///////////////////////////////////////////////**/

#nav-bar {
    padding-top: 100px;

}
#nav-bar li {
    display: block;
    list-style-type: none;
    float: left;
    width: 25%;
}

#nav-bar li a {
    text-decoration: none;
}

nav#nav-bar a:link, nav#nav-bar a:visited {
    color: #935959;
}
nav#nav-bar a:hover, nav#nav-bar a:active {
    background-color: beige;
}
    

/*////////////////////////////////////////////////*/


header h1{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 2.1em;
    letter-spacing: 0.1em;
    color: #935959;
    background-color: #BFCCB5;
    margin-top: 0;
    text-align: center;
    text-decoration:wavy;
}



#pics {
    display: block;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

#pics::after{
    content: "";
    display: table;
    clear: both;
}
img.home {
    display:block;
    float:left;
    width: 33%;
    
}

article > h2 {          
    text-align: center;
    color: #935959;
}

#main > h2 {
    text-align: center;
    color: #935959;
}

p {
    font-size: large;
    color: #935959;
}
/* //////////////      Dinner Menu    ////////////////////*/
/*/////////////////////////////////////////////////////////*/

h3 {
    text-align: center;
    color: #935959;
    text-decoration: underline;
    padding-top: 75px;
}

dl{
    padding: 10px 50px;
}

dt{
    font-weight: bold;
    text-decoration:wavy;
}

.dinner > dl > dd {
    font-style: italic;
    font-size: large;
}

/* ///////////////////      Bar Menu      /////////////// */
/*/////////////////////////////////////////////////////////*/
.bar {
    background-color: #FFEAD2;
    display: block;
}

.bar #cocktails {
    padding-top: 25px;
}

.bar > div > dl {
    color: #935959;
    font-size: 13pt;
    font-weight: bolder;

}
.bar > div > dl > dd {
    color: #6e5757; ;
    font-style: italic;
}

.bar > div > h4 {
    text-decoration: underline;
    padding: 10px 35px;
    
}

/*///////////////////   Form Styles   //////////////////////*/
/*//////////////////////////////////////////////////////////*/
.form-page p {
    padding: 50px 30px;
}
div.elem-group {
    padding: 5px 10px;    
    margin: 15px 0;
}

label {
    display: block;
    font-family: "Goudy Old Style", serif;
    color: #935959;
    padding-bottom: 10px;
    font-size: 1.0em;
    font-weight: bold;
  }

  button {
    height: 50px;
    margin: 2px 10px;
    background: gray;
    border: none;
    color: black;
    font-size: 1.0em;
    font-family: "Goudy Old Style", serif;
    font-weight: bold;
    border-radius: 2px;
    cursor: pointer;
  }

/* ///////////////////      Footer Styles     //////////// */
/*////////////////////////////////////////////////////////////*/

footer {
    background-color: #7C9070;
    text-align: center;
    font-style: italic;
}


